.preload-container {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.2);
}

.cssload-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 49px;
  height: 49px;
  text-align: center;
  z-index: 5001;
  margin-left: -25px;
  margin-top: -25px;
}

.cssload-double-torus {
  width: 49px;
  height: 49px;
  margin: 0 auto;
  border: 4px double;
  border-radius: 50%;
  border-color: transparent var(--blue) var(--blue);
  animation: cssload-spin 690ms infinite linear;
  -o-animation: cssload-spin 690ms infinite linear;
  -ms-animation: cssload-spin 690ms infinite linear;
  -webkit-animation: cssload-spin 690ms infinite linear;
  -moz-animation: cssload-spin 690ms infinite linear;
}

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}